@model IEnumerable<PuppiesPet.Models.Producto>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@{
    ViewData["Title"] = "Farmacia Veterinaria";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        .farmacia {
            text-align: center;
            color: #64AF8B;
        }

        h1 .logueo {
            color: #64AF8B;
        }

        .btn-carrito {
            background-color: #64AF8B;
            color: white;
        }
    </style>
</head>

<body>


    <h1 class="farmacia mt-3">@ViewData["Title"]</h1>
    <div class="container">
        <h1 class="logueo">@ViewData["Message"]</h1><br>
        <div class="row">
            <div class="col">
                <div id="products" class="mb-3">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="card-img-actions text-center">
                                            <img class="img-responsive" width="250" height="250"
                                            src="~/imagenes/@item.ImagenName" alt="@item.ImagenName" />
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                                        <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                                        <a class="btn btn-carrito" asp-action="Add" asp-route-id="@item.Id"><i
                                            class="fas fa-cart-plus"></i> Agregar al carrito</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
        crossorigin="anonymous"></script>
</body>

</html>