@model IEnumerable<PuppiesPet.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Mascotas</title>
</head>
<style>
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15)
    }

    .content-table thead tr {
        background-color: #009879;
        color: white;
        text-align: left;
        font-weight: bold;

    }

    .content-table thead th,
    .content-table td {
        padding: 12px 15px;

    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;

    }

    .content-table tbody tr .active-row {
        font-weight: bold;
        color: #009879;
    }
</style>





<body>




</body>

<h1>Lista de Mascotas</h1>

<p>
    <a asp-action="Create">Crear Nueva Mascota</a>
</p>
<table class="content-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enfermedades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="active-row">
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enfermedades)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-dark" asp-route-id="@item.Id">eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
