@model IEnumerable<PuppiesPet.Models.Producto>

@{
    ViewData["Title"] = "Producto";
}

<h1>Lista de Productos</h1>

<p>
    <a asp-action="RegistrarProducto">Registrar Nuevo Producto</a>
</p>
<table class=" table table-success table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
             <td>
                    <div><img src="@item.ImagenName" style="widht:100px;height:100px;" /></div>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagenName)
            </td>
            <td>
                <a asp-action="EditarProducto" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="DetalleProducto" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="BorrarProducto" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
